$gray: #606060;
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Times New Roman';
  color: $gray;
  letter-spacing: 0.75vw;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
.container {
  width: 100%;
  height: inherit;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-text-align: center;
  -webkit-align-items: center;
  -webkit-flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
.content {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
h1 {
  font-size: 5.5vw;
  font-weight: bold;
}
.chrisgarvin {
  position: relative;
}
.letter:hover {
  cursor: pointer;
  color: red;
}
.contactHidden {
  display: none;
  position: relative;
  color: red;
  letter-spacing: 0.75vw;
}
.charmaHidden {
  display: none;
  position: relative;
  color: red;
  letter-spacing: 0.75vw;
}
.aboutHidden {
  display: none;
  position: relative;
  color: red;
  letter-spacing: 0.75vw;
}
.twitterHidden {
  display: none;
  position: relative;
  color: red;
  letter-spacing: 0.75vw;
}
.instagramHidden {
  display: none;
  position: relative;
  color: red;
  letter-spacing: 0.75vw;
}
.tictacHidden {
  display: none;
  position: relative;
  color: red;
  letter-spacing: 0.75vw;
}
.verifyHidden {
  display: none;
  position: relative;
  color: red;
  letter-spacing: 0.75vw;
}
.linkedinHidden {
  display: none;
  position: relative;
  color: red;
  letter-spacing: 0.75vw;
}
.pikwonHidden {
  display: none;
  position: relative;
  color: red;
  letter-spacing: 0.75vw;
}
.githubHidden {
  display: none;
  position: relative;
  color: red;
  letter-spacing: 0.75vw;
}
.aboutContentTop,
.aboutContentBottom {
  display: none;
  width: 65%;
  letter-spacing: normal;
  margin: 25px auto;
  line-height: 22px;
  text-align: justify;
}
.aboutContentTop a,
.aboutContentBottom a {
  letter-spacing: normal;
  text-decoration: underline;
}
.instagramContentTop,
.instagramContentBottom,
.pikwonContentTop,
.pikwonContentBottom,
.tictacContentTop,
.tictacContentBottom {
  display: none;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 5px;
}
.aboutContentTop,
.aboutContentBottom {
  display: none;
  position: relative;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.instagramContentTop img,
.instagramContentBottom img,
.tictacContentTop img,
.tictacContentBottom img {
  width: 9%;
  padding: 0.91%;
  border-radius: 2px;
}
.pikwonContentTop img,
.pikwonContentBottom img {
  width: 50%;
  border-radius: 10px;
}
